<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Livros</title>
</head>
<body>
    <h1>Lista de livros</h1>
    {% for livro in livros["livros"] %}
        <div>
            <h1>{{livro.nome}}</h1> <br>
            Autor: {{livro.autor}} <br>
            Editora: {{livro.editora}} <br>
            Categoria: {{livro.categoria}} <br>
            Numero de páginas: {{livro.numero_paginas}} <br>
            <form action="/livro" method="GET">
                <input type="hidden" id="isbn" name="isbn" value={{livro.isbn}}><br>
                <br><input type="submit" value="Ver livro" />
            </form>

        </div>
    {% endfor %}
</body>
</html>